.main-content {
  padding: 20px;
}

.main-content h2 {
  color: #555;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-form label {
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 5px;
  width: 100%;
  margin-top: 5px;
}

.contact-form button {
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #555;
}
